<br/>
<br/>
<div class="sub-footer">
    <div class="copyright">
        &copy; SCOUT CENTER INVENTORY SYSTEM
        <div class="credits">
            Designed by Charles Lin, Mark Lim, and Marybelle Tandoc
        </div>
    </div>
</div>