<header id="header">
<nav class="navi navbar navbar-expand-md justify-content-center">
      <a class="navbar-brand" href="/home" style="margin-left: 10px;">Scout Center Inventory System</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">            
          <span class="navbar-toggler-icon"><div class="hamburger">&#9776;</div></span>
      </button>

    <div class="navbar-collapse collapse w-100" id="navbarsExample04" style="margin-left: 50px;">        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link active" id="home" href="/home">Home</a>
          </li>
          <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link" id="invent" href="/inventory">Inventory</a>
          </li>
          {{!-- <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link" id="ritems" href="/requestItems">Request Items</a>
          </li> --}}
          <li class="nav-item" style="margin-right: 20px;">
            <a class="nav-link" id="rstatus" href="/requestStatus">Request Status</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto justify-content-end" style="float: right;">
            <li class="nav-item">
                <a href="/logout" class="nav-link active">Log Out</a>
            </li>
        </ul>
      </div>
    </nav>
</header>
<br/>
<br/>
<br/>